# Clojure/Java
*.class
/target/
/classes/
/checkouts/

# Leiningen
/lein-env

# nREPL
.nrepl-port

# IDE
.idea/
*.iml
.vscode/
.calva/

# Editor backups
*~
*.swp
*.swo
\#*\#

# OS
.DS_Store
Thumbs.db

